<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pintaraplikasi">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PintarAplikasi">
        <activity
            android:name=".Minggu"
            android:exported="false" />
        <activity
            android:name=".Sabtu"
            android:exported="false" />
        <activity
            android:name=".JUMAT"
            android:exported="false" />
        <activity
            android:name=".Kamis"
            android:exported="false" />
        <activity
            android:name=".Rabu"
            android:exported="false" />
        <activity
            android:name=".Selasa"
            android:exported="false" />
        <activity
            android:name=".Senin"
            android:exported="false" />
        <activity
            android:name=".Bercermin"
            android:exported="false" />
        <activity
            android:name=".Keluarrumah"
            android:exported="false" />
        <activity
            android:name=".Masukrumah"
            android:exported="false" />
        <activity
            android:name=".Keluarwc"
            android:exported="false" />
        <activity
            android:name=".Masukwc"
            android:exported="false" />
        <activity
            android:name=".Banguntidur"
            android:exported="false" />
        <activity
            android:name=".Zikir"
            android:exported="false" />
        <activity
            android:name=".TidurSebelum"
            android:exported="false" />
        <activity
            android:name=".Alarm"
            android:exported="false" />
        <activity
            android:name=".Doaharian"
            android:exported="false" />
        <activity
            android:name=".Jadwal"
            android:exported="false" />
        <activity
            android:name=".MainAwal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ReceiverYeah"
            android:process=":remote" />
    </application>

</manifest>